#main-selection-list>* {
    width: 100%;
    border-left: none;
    border-top: none;
    border-right: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 5px;
    padding-top: 5px;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
}

.control-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}